shamefully-hoist=true
strict-peer-dependencies=false

# # Hoisting patterns for monorepo
# public-hoist-pattern[]=@prisma/*
# public-hoist-pattern[]=prisma
public-hoist-pattern[]=@nestjs/*
public-hoist-pattern[]=rxjs
public-hoist-pattern[]=typeorm
public-hoist-pattern[]=reflect-metadata
public-hoist-pattern[]=class-transformer
public-hoist-pattern[]=class-validator
