version: '3.9'
services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: sc-rabbitmq
    ports:
      - '5672:5672'
      - '15672:15672' # Web UI quản lý
    environment:
      RABBITMQ_DEFAULT_USER: admin
      RABBITMQ_DEFAULT_PASS: admin
    networks:
      - sc-net

networks:
  sc-net:
    driver: bridge
